<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href={{"/assets/styles/modal.css" | relative_url}}>
    <link rel="stylesheet" href={{"/assets/styles/recognition-as-resilience.css" | relative_url}}>
    <link href="https://vjs.zencdn.net/8.5.2/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/8.5.2/video.min.js"></script>
  </head>

  <body>
    {% if page.hero_image %}
      <div class="hero">
        {% responsive_image_block %}
          path: {{ page.hero_image }}
          {% if page.hero_title %}
            alt: {{ page.hero_title }}
          {% endif %}
          {% if page.hero_title %}
          title: {{ page.hero_title }}
          {% endif %}
        {% endresponsive_image_block %}
      </div>
    {% endif %}
    <main>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <script type="text/javascript" src={{"/assets/scripts/recognition-as-resilience.js" | relative_url}}></script>

    {% include modal.html %}
  </body>

</html>
